{% extends "base.html" %}

{% block title %}Presupuestos - SIGECOP{% endblock %}

{% block page_title %}
<i class="ace-icon fa fa-money"></i>
Presupuestos
{% endblock %}

{% block page_subtitle %}Lista{% endblock %}

{% block breadcrumb %}
<li><i class="ace-icon fa fa-home home-icon"></i><a href="{% url 'home' %}">Inicio</a></li>
<li class="active">Presupuestos</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="clearfix" style="margin-bottom: 12px;">
            <a href="{% url 'procurement:budget_create' %}" class="btn btn-success btn-sm pull-right">
                <i class="fa fa-plus"></i> Nuevo presupuesto
            </a>
        </div>

        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-money"></i>
                    Listado de Presupuestos
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding" id="budget-table-wrapper">
                    {% include "procurement/finance/budgets/_table.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
