{% extends "base.html" %}

{% block title %}Pagos - SIGECOP{% endblock %}

{% block page_title %}
<i class="ace-icon fa fa-credit-card"></i>
Pagos
{% endblock %}

{% block page_subtitle %}Lista{% endblock %}

{% block breadcrumb %}
<li><i class="ace-icon fa fa-home home-icon"></i><a href="{% url 'home' %}">Inicio</a></li>
<li class="active">Pagos</li>
{% endblock %}

{% block content %}
<!-- Django Messages -->
{% if messages %}
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <div class="clearfix" style="margin-bottom: 12px;">
            <a href="{% url 'procurement:payment_create' %}" class="btn btn-success btn-sm pull-right">
                <i class="fa fa-plus"></i> Nuevo pago
            </a>
        </div>

        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-credit-card"></i>
                    Listado de Pagos
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding" id="payment-table-wrapper">
                    {% include "procurement/finance/payments/_table.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
