{% extends "base.html" %}

{% block title %}Memorándums de Cumplimiento - SIGECOP{% endblock %}

{% block page_title %}
<i class="ace-icon fa fa-file-text-o"></i>
Memorándums de Cumplimiento
{% endblock %}

{% block page_subtitle %}Lista{% endblock %}

{% block breadcrumb %}
<li><i class="ace-icon fa fa-home home-icon"></i><a href="{% url 'home' %}">Inicio</a></li>
<li class="active">Memorándums</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="clearfix" style="margin-bottom: 12px;">
            <a href="{% url 'procurement:memo_create' %}" class="btn btn-success btn-sm pull-right">
                <i class="fa fa-plus"></i> Nuevo memorándum
            </a>
        </div>

        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-file-text-o"></i>
                    Listado de Memorandums
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding" id="memo-table-wrapper">
                    {% include "procurement/finance/memos/_table.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
</style>
{% endblock %}
